<footer class="row">
	<div class="col-12 col-md-5 copyright">
		<h3>Copyright</h3>
		<p>&copy; 2018 | BIG, Inc - Bartlett Innovation Group</p>
	</div>
	<div class="col-12 col-md-7 share row">
		<h3>
			<span class="d-none d-sm-inline-block">Follow us</span>
			<a md-icon-button class="btn btn-facebook" href="https://www.facebook.com/drew.bartlett" target="_blank"><span class="fa fa-facebook fa-lg"></span></a>
			<a md-icon-button class="btn btn-twitter" href="https://twitter.com/Source00" target="_blank"><span class="fa fa-twitter fa-lg"></span></a>
			<a md-icon-button class="btn btn-google-plus" href="https://plus.google.com/+AndrewDrewBartlett" target="_blank"><span class="fa fa-google-plus fa-lg"></span></a>
			<a md-icon-button class="btn btn-linkedin" href="https://www.linkedin.com/in/drewbartlett/" target="_blank"><span class="fa fa-linkedin fa-lg"></span></a>
			<!--a md-icon-button class="btn btn-youtube" href="http://youtube.com/"><span class="fa fa-youtube fa-lg"></span></a>
			<a md-icon-button class="btn btn-mail" href="mailto:"><span class="fa fa-envelope-o fa-lg"></span></a-->
		</h3>
	</div>
</footer>