<div class="content row">
	<div class="col-12 col-sm-6">
		<h2>OUR APPROACH</h2>
		<img class="img-fluid" src="../../assets/images/ourapproach_tach.jpg"/>
		<p>
			Each company is unique. One-size-fits-all approaches will never help your business reach its full potential but we also recognize that time is money and results need to be realized quickly.
		</p>
	</div>
	<div class="col-12 col-sm-6">
		<h2>WHAT WE DO</h2>
		<ul>
			<li>
				<div>
					<h4>Expert Analysis</h4>
					<span>Identifying your path to growth</span>
				</div>
			</li>
			<li>
				<div>
					<h4>Product Definition</h4>
					<span>Building what your customers want and need</span>
				</div>
			</li>
			<li>
				<div>
					<h4>Strategic Planning</h4>
					<span>Crafting a plan to take you there</span>
				</div>
			</li>
			<li>
				<div>
					<h4>Execution Management</h4>
					<span>Minimizing your risks and getting it done</span>
				</div>
			</li>
		</ul>
	</div>
</div>