<div class="content row">
	<div class="col-12 col-md-7 order-last order-md-first">
		<h2>WHERE TO FIND US</h2>
		<div class="row">
			<div class="map col-12 col-lg-7">
				<iframe src="//maps.google.com/maps?v=2&amp;f=q&amp;ie=UTF8&amp;t=m&amp;iwloc=&amp;q=2715+Emporia+Street%2c+Denver%2c+CO%2c+United+States&amp;hl=en&amp;z=14&amp;source=s_q&amp;output=embed" height="448px" scrolling="no"></iframe>
				<div style="overflow:hidden">
					<a href="//maps.google.com/maps?v=2&amp;f=q&amp;ie=UTF8&amp;t=m&amp;iwloc=&amp;q=2715+Emporia+Street%2c+Denver%2c+CO%2c+United+States&amp;z=14&amp;source=embed" target="_blank">View Larger Map</a>
				</div>
			</div>
			<div class="col-12 col-lg-5">
				<p class="mt-3">Interested in seeing what we can do for you? <a href="tel:17207220244">Call</a> or <a href="mailto:Bartlett.Drew@gmail.com">email</a> us to start the conversation.</p>
				<p class="address">2715 Emporia Street, Denver, CO, <span class="text-nowrap">United States</span></p>
				<p>Telephone: <br/><a href="tel:17207220244">1.720.722.0BIG (0244)</a></p>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-5 order-first order-md-last mb-5">
		<h2>GET IN TOUCH</h2>
		<form id="contactForm" ngNoForm [formGroup]="contactForm" action="https://formspree.io/Bartlett.Drew@gmail.com" target="_blank" method="POST"><!-- (ngSubmit)="onSubmit()"-->
			<p>
				<md-input-container class="col-12" dividerColor="{{(formErrors.name) ? 'warn' : 'primary'}}">
					<input mdInput formControlName="name" name="name" placeholder="Name" type="text" required>
					<md-hint color="warn">
						<span [hidden]="!(formErrors.name)">{{formErrors.name}}</span>
					</md-hint>
				</md-input-container>
				<md-input-container class="col-12" dividerColor="{{(formErrors.email) ? 'warn' : 'primary'}}">
					<input mdInput formControlName="email" name="email" placeholder="Email" type="email" email required>
					<md-hint>
						<span [hidden]="!(formErrors.email)">{{formErrors.email}}</span>
					</md-hint>
				</md-input-container>
				<md-input-container class="col-12" dividerColor="{{(formErrors.subject) ? 'warn' : 'primary'}}">
					<input mdInput formControlName="subject" name="subject" placeholder="Subject" type="text" required>
					<md-hint>
						<span [hidden]="!(formErrors.subject)">{{formErrors.subject}}</span>
					</md-hint>
				</md-input-container>
				<md-input-container class="col-12">
					<textarea mdInput formControlName="message" name="message" placeholder="Message" rows=4></textarea>
					<md-hint>
						<span [hidden]="!(formErrors.message)">{{formErrors.message}}</span>
					</md-hint>
				</md-input-container>
			</p>
			<input type="hidden" name="_format" value="plain"/>
			<input type="hidden" name="_subject" value="BigInc.net: {{contactForm.value.subject}}" />
			<input type="hidden" name="_cc" value="me@rbrianredd.com" />
			<input type="hidden" name="_next" value="http://www.rbrianredd.com/biginc"/>
			<p class="row d-flex">
				<span class="flex-spacer"></span><button type="submit" md-button [disabled]="contactForm.invalid" onclick="submit()">Submit</button>
			</p>
		</form>
	</div>
</div>