<div class="content">
	<h2>SERVICES</h2>
	<p>We offer a wide variety of expertise across multiple industries with experience in</p>
	<ul>
		<li>Product Development and Management</li>
		<li>Product Marketing</li>
		<li>Program Management</li>
		<li>Project Management</li>
		<li>Software development - Enterprise, SaaS, Desktop, Web, Mobile, Native Apps</li>
		<li>and more</li>
	</ul>
	<p>We recognize that every business has different needs, requirements and budgets and BIG, Inc has the flexibility to adapt to suit your needs.</p>
	<p><a routerLink="/contact">Contact us</a> to explore how BIG, Inc can help you Dream BIG and Deliver BIG</p>
</div>







